urllib3==1.26.6
apache-airflow==2.5.1
SQLAlchemy==1.4.36
# mysqlclient
pyodbc
pandas
numpy
matplotlib
python-pptx
scikit-learn
pillow
poetry
selenium
fastapi
fuzzywuzzy==0.18.0
scipy
seaborn
spacy
mysql-connector-python==8.3.0